/* Flexbox */
.d-flex {
  display: flex;
}
.flex-direction-column {
  flex-direction: column;
}
.flex-direction-row {
  flex-direction: row;
}
.flex1 {
  flex: 1;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-left {
  justify-content: left;
}
.justify-content-right {
  justify-content: right;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-space-between {
  justify-content: space-between;
}
.justify-content-space-around {
  justify-content: space-around;
}
.justify-content-space-evently {
  justify-content: space-evenly;
}
.align-items-center {
  align-items: center;
}
.align-items-flex-end {
  align-items: flex-end;
}
.flex-shrink {
  flex-shrink: 0;
}
.align-self-flex-end {
  align-self: flex-end;
}

/* Width */
.w-100 {
  width: 100%;
}
.w-280 {
  width: 280px !important;
}
.w-250 {
  width: 250px !important;
}
.w-150 {
  width: 150px !important;
}
.w-200 {
  width: 200px !important;
}
.w-180 {
  width: 180px !important;
}
.w-120 {
  width: 120px !important;
}
.w-50 {
  width: 50px !important;
}
.w-120 {
  width: 120px !important;
}
.w-69 {
  width: 69px !important;
}
.w-36 {
  width: 36px !important;
}
.w-32 {
  width: 32px;
}
.w-300 {
  width: 300px;
}
/* Height */
.h-100 {
  height: 100%;
}
.h-36 {
  height: 36px;
}
.h-32 {
  height: 32px;
}
/* Font size */
.fz-16 {
  font-size: 16px;
}
.fz-14 {
  font-size: 14px !important;
}

/* Font weight */
.bold {
  font-weight: bold;
}

/* Input */
.input {
  border: none;
  outline: none;
  border-radius: 4px;
}
/* Gap */
.gap-20 {
  gap: 20px;
}

/* Position */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}

/* z-index 1000 */
.z-index-1000 {
  z-index: 1000;
}

/* padding */
.pl-32 {
  padding-left: 32px;
}
.pt-32 {
  padding-top: 32px;
}
.pb-32 {
  padding-bottom: 32px;
}
.p16-7 {
  padding: 7px 16px;
}
.pl-20 {
  padding-left: 20px;
}
.pr-20 {
  padding-right: 20px;
}
.p-24 {
  padding: 24px;
}
.p-15 {
  padding: 15px;
}
.plr-12 {
  padding: 0 12px;
}
.p-8 {
  padding: 8px;
}
.p-6 {
  padding: 6px;
}
.p-5 {
  padding: 5px;
}
.p-0 {
  padding: 0;
}
.p-4 {
  padding: 4px;
}
.pr-10 {
  padding-right: 10px;
}
.p-12 {
  padding: 12px;
}
.pl-8 {
  padding-left: 8px;
}
.pr-8 {
  padding-right: 8px;
}
.pl-16 {
  padding-left: 16px;
}
.pl-4 {
  padding-left: 4px;
}
.p-16 {
  padding: 16px;
}
/* margin */
.mr-8 {
  margin-right: 8px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-4 {
  margin-right: 4px;
}
.m-4 {
  margin: 4px;
}
.mr-12 {
  margin-right: 12px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-12 {
  margin-top: 12px;
}
.mt-14 {
  margin-top: 14px;
}
.mt-6 {
  margin-top: 6px;
}
.ml-6 {
  margin-left: 6px;
}
.m-24 {
  margin: 24px;
}
.mr-6 {
  margin-right: 6px;
}
.mr-16 {
  margin-right: 16px;
}
.ml-12 {
  margin-left: 12px;
}
.m-0 {
  margin: 0 !important;
}
.mx-3 {
  margin: 0 16px;
}
.mr-24 {
  margin-right: 24px;
}
.mr-20 {
  margin-right: 20px;
}
/* border */
.border-none {
  border: none;
}
.border-1 {
  border: 1px solid #ccc;
}

/* border radius */
.border-radius-8 {
  border-radius: 8px;
}
.border-radius-4 {
  border-radius: 4px;
}
.border-right-1 {
  border-right: 0.1px solid #9d9d9d !important;
}

.circle {
  border-radius: 50%;
}

/* Color */
.text-white {
  color: white;
}
.text-blue {
  color: #007bff;
}
.text-red {
  color: red;
}
.text-green {
  color: green;
}
/* Cursor */
.pointer {
  cursor: pointer;
}

/* Active sidebar */
.active {
  background-color: rgb(38, 128, 235);
}

/* overflow */
.overflow-scroll {
  overflow: auto;
}

/* button */
.btn {
  height: 36px !important;
  font-size: 14px !important;
  padding: 7px 16px 7px 12px !important;
  border: 1px solid #e0e6ec;
  color: #1e2633;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn-secondary {
  background-color: #7a8188 !important;
}
.btn-secondary:hover {
  background-color: #2a7efc !important;
}
.ic-cl-green {
  background-color: #48bb56 !important;
}
/* Outline */
.outline-none {
  outline: none;
}

/* opacity */
.opacity-5 {
  opacity: 0.5;
}
.opacity-54 {
  opacity: 0.54;
}

/* background color */
.background-green {
  background-color: rgb(234, 255, 238) !important;
}
.background-gray {
  background-color: #ccc;
}
/* hover */
.border-hover:hover {
  border: 1px solid rgb(38, 128, 235);
}

/* left */
.l-0 {
  left: 0 !important;
}
/* right */
.r-0 {
  right: 0 !important;
}
/* top */
.t-0 {
  top: 0 !important;
}
