.input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 36px;
  border: none;
}

.select-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 36px;
  border: 1px solid #ddd;
}

.select-container select.ms-input {
  flex: 1;
  padding-right: 30px;
  height: 100%;
}
