.search {
  width: 100%;
  max-width: 180px;
  height: 36px;
  border: 1px solid #ddd;
  padding: 0 8px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 2.5px;
}

.search:hover {
  border: 1px solid #1aa4c8;
}

.search:focus-within {
  border: 1px solid #1aa4c8;
}

.search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  color: #666;
  font-size: 16px;
}

.search-input {
  flex: 1;
  border: none;
  width: 100%;
  outline: none;
  font-size: 13px;
  background-color: transparent;
  box-sizing: border-box;
}

.search-input::placeholder {
  color: #9e9e9e;
  font-style: italic;
  font-size: 13px;
}
