.dropdown-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.dropdown-label-text {
  font-size: 13px;
  color: #333;
}

.required {
  color: red;
  margin-left: 2px;
}

/* --- DROPDOWN --- */
.dropdown-wrapper {
  border: 2px solid #ddd;
  border-radius: 2.5px;
  height: 36px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 10px;
  background: #fff;
  cursor: pointer;
  position: relative;
  width: 100%;
}

.dropdown-wrapper.disabled {
  background: #f3f3f3;
  color: #999;
  cursor: not-allowed;
}

.prefix-icon,
.suffix-icon {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.dropdown-label {
  flex: 1;
  white-space: nowrap; /* Không xuống dòng */
  overflow: hidden; /* Ẩn phần tràn */
  text-overflow: ellipsis; /* Hiển thị ... */
  display: inline-block; /* Để các thuộc tính hoạt động ổn định */
  max-width: 100%;
}

.dropdown-list {
  position: absolute;
  top: 42px;
  left: 0;
  width: 100%;
  border: 1px solid #ddd;
  background: white;
  border-radius: 6px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  z-index: 999;
  max-height: 250px;
  overflow-y: auto;
}

.dropdown-item {
  padding: 10px 12px 10px 28px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  position: relative;
}

.dropdown-item:hover {
  background: #e7f1ff;
}

.option-label {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.selected {
  background: #dbeafe;
}

.check-icon {
  position: absolute;
  left: 8px;
  font-size: 14px;
}
/* .dropdown-label {
  color: #999;
} */
